<div>
	<form novalidate>
		<div class="modal-header">
			<h3 class="modal-title">Dodawanie autora</h3>
		</div>
		<div class="modal-body">
                <div flash-message="5000" ></div>
                <p>
                FirstName:
                <input type="text" ng-model="firstName" required>
                </p>
                <p>
                LastName:
                <input type="text" ng-model="lastName" required>
                </p>
                <p>
                <button ng-click="makeAuthor()" ng-disabled = "myForm.$invalid">Dodaj Autora</button>
                </p>
        </div>
		
		<div class="modal-footer">
		
					<button class="btn btn-warning" ng-click="$dismiss()">Close</button>
		</div>
	</form>
</div>